html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f0eee8;
  font-family: Georgia;
  width: 100%;
}

.link-card {
  padding: 1rem;
  background-color: #dcd4cd;
  border-style: solid;
  border-width: 3px;
  border-color: #785439;
  margin: 0;
  border-radius: 3px;
  font-family: Georgia;
}

.link-card h2 {
  font-size: 1.5rem;
  color: #512200;
  margin: 0;
  font-family: "Dosis", sans-serif;
}

p {
  font-size: 1rem;
  color: #512200;
  padding-bottom: 1rem;
  border-bottom: 2px solid #9a816d;
}

.list dl {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: left;
}

.list dt {
  padding: 0;
  text-align: left;
  display: inline-block;
  width: 50%;
  font-size: .875rem;
}

.list dd {
  padding: 0;
  font-family: georgia;
  font-style: italic;
  display: inline-block;
  margin: 0;
  font-size: .875rem;
  width: 50%;
}

.list {
  padding-bottom: 1rem;
  list-style-type: none;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  color: #512200;
  border-bottom: 2px solid #9a816d;
  text-decoration: none;
}

footer {
  margin: 1rem;
  text-align: center;
}

.link a {
  padding: .4em .75em .5em;
  font-size: 1rem;
  background-color: #785439;
  color: #f0eee8;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-radius: 8px;
  border-color: #785439;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
}

.link-card:hover {
  background-color: #cabdb2;
}
